@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 94%;
    --foreground: 220 9% 23%;
    --card: 210 17% 94%;
    --card-foreground: 220 9% 23%;
    --popover: 210 17% 100%;
    --popover-foreground: 220 9% 23%;
    --primary: 207 70% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 17% 88%;
    --secondary-foreground: 220 9% 23%;
    --muted: 210 17% 88%;
    --muted-foreground: 210 4% 45%;
    --accent: 205 65% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 17% 84%;
    --input: 210 17% 88%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 205 65% 45%;
    --chart-3: 220 70% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 13% 10%;
    --foreground: 210 40% 98%;
    --card: 220 13% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 70% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 205 65% 45%;
    --chart-3: 220 70% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
